/* global.css */
body {
    margin: 0;
    padding: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .App {
    flex: 1;
  }
  
  .footer {
   width: 100%;
   margin: 0;
   padding: 0 ;

  }

  .copyright{
    text-align: center;
  }
  
  .button{
    margin-bottom: 15px;
  }